<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <%= @session %>
        <h2>Welcome to the longest word-game!</h2>
        <h3>Here is your grid:</h3>
        <ul class="list-inline">
          <% @grid.each do |z| %>
            <li><%= z %></li>
          <% end %>
        </ul>

        <form action="/score" method="get" class="form-inline">
          <div class="form-group">
            <label for="attempt">Your attempt</label>
            <input type="text" name="attempt" id="attempt" class="form-control">
            <input type="hidden" name="grid" value="<%= @grid %>">
            <input type="hidden" name="start_time" value="<%= @start_time %>">
          </div>
          <input type="submit" value="Send" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>
