<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <h1>Welcome to the Longest-word game! :) </h1>
        <%= link_to " + Click here to start a new game!", game_path %>
      </div>
    </div>
  </div>
</div>
